div.button{
    display: inline;
    display: block;
    background-color: #454545;
    color: #eeffee;
    padding: 8px 30px;
    margin-top: 100px;
    height: 30px;
    position: relative;
    border: 1px solid #454545;
    border-bottom: 3px solid #ee12ee;
    border-radius: 4px;
    transition: .5s;
}
div.button::after{
    background-color: aqua;
    width: 1px;
    height: 2px;
    position:absolute;
    left: 0px;
    top: 100%;
    content: '';
    transition: .5s linear;
}
div.button:active{
    background-color: black;
    text-transform: uppercase;
}
div.button:hover::after{
    width: 100%;
}
div.button:hover{
    background-color: #445500;
}
